/*ESERCIZIO 1*/

.ex-1-square{
    transition: all 5s;
}

.ex-1-square:hover{
    background-color: red;
}

/*ESERCIZIO 2*/

.ex-2-square{
    transition: all 5s;
}

.ex-2-square:active{
    width: 50%;
    /* height: 50%; */
}

/*ESERCIZIO 3*/

.ex-3-square{
    transition: all 3s;
}

.ex-3-square:hover{
    border-radius: 50%;

}

/*ESERCIZIO 4*/

.ex-4-square{
    transition: all 3s;
    opacity: 1;
}

.ex-4-square:hover{
    opacity: 0;

}

/*ESERCIZIO 5*/

.ex-5-square:hover{
    transition: all 3s;
    transform: scale(3);
}

.ex-5-square:active{
    transition: all 3s;
    transform: scale(.5);
}

/*ESERCIZIO 6*/

.ex-6-img:hover{
    filter: grayscale(1);
}

/*ESERCIZIO 7*/

.ex-7-img{
    transition: all 3s;
}

.ex-7-img:hover{
    filter: sepia(1);
    filter: invert(1);
}

/*ESERCIZIO 8*/

.ex-8-img{
    transition: all 3s;
}

.ex-8-img:hover{
    filter: brightness(1);
    filter: sepia(1);
    border-radius: 20%;
}

/*ESERCIZIO 9*/

.ex-9-img:hover{
    transition: all 3s;
    filter: brightness(1);
    filter: sepia(1);
    border-radius: 20%;
    transform: scale(.8);
}

/*ESERCIZIO 10*/

/* .ex-10-icon{
    transition: all 3s;
    transform: rotate(360deg);
} */

.ex-10-icon {
		-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

/*ESERCIZIO 11*/

.ex-11-icon:hover {
		-webkit-animation: rotation 2s linear;
}

@-webkit-keyframes rotation {
				0% {-webkit-transform: rotate(0deg);}
				90% {-webkit-transform: rotate(269deg);}
                100% {-webkit-transform: rotate(0deg);}
}
